@model IEnumerable<Master_Details.Models.Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h1 class="text-center">Department Information</h1>
<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Department")" class="btn btn-primary btn-sm mb-2"><i class="fa fa-plus-circle"></i> Add Department</a>
</div>
<table class="table table-bordered table-striped">
    <thead class="text-center">
        <tr>
            <th>@Html.DisplayNameFor(x => x.DepartmentId)</th>
            <th>@Html.DisplayNameFor(x => x.DepartmentName)</th>
            <th>@Html.DisplayNameFor(x => x.DoctorName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.DepartmentId)</td>
                    <td>@Html.DisplayFor(x => item.DepartmentName)</td>
                    <td>@Html.DisplayFor(x => item.DoctorName)</td>
                    <td>
                        <a href="@Url.Action("Edit","Department", new {id = item.DepartmentId})" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a>
                        <a href="@Url.Action("Delete","Department", new {id = item.DepartmentId})" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

