@model IEnumerable<Master_Details.Models.Patient>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h1 class="text-center">Appointment Information</h1>
<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Appointment")" class="btn btn-primary btn-sm mb-2"><i class="fa fa-plus-circle"></i> New Appointment</a>
</div>

<div>
    @foreach (var patient in Model)
    {
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <img src="@patient.Picture" width="32" />
                    <label class="me-2"><b>Patient Name : </b>@Html.DisplayFor(x => patient.PatientName)</label>
                    <label class="me-2"><b>Patient Age : </b>@Html.DisplayFor(x => patient.Age)</label>
                </div>
                <div>
                    <a href="@Url.Action("Edit", "Appointment", new {id=patient.PatientId})" id="btnEdit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a>
                    <a href="@Url.Action("Delete", "Appointment", new {id=patient.PatientId})" id="btnDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="text-center table-primary">
                        <tr>
                            <th>Appointment Date</th>
                            <th>Doctor Name</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(x => patient.AppointmentDate)</td>
                            @foreach (var item in patient.Appointments)
                            {
                                <td>@Html.DisplayFor(x => item.Department.DoctorName)</td>
                                <td>@Html.DisplayFor(x => item.Department.DepartmentName)</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>



